@using week2.Models
@model IEnumerable<Ticket>
@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")


@if (Model.Count() > 0)
{
    <table class="tickets-table">
        <tr>
            <td>№</td>
            <td></td>
            <td>Название</td>
            <td>Дата создания</td>
            <td>Дата завершения</td>
            <td>Статус</td>
            <td>Приоритет</td>
            <td>Действия</td>
        </tr>

        @{int cnt = 1;
            foreach (Ticket ticket in Model)
            {
                string textDec = (ticket.Status) ? "line-through" : "none";
                string checkBoxIcon = (ticket.Status) ? "check.png" : "uncheck.png";

                <tr style="background-color: @ticket.PriorityColor(); text-decoration: @textDec">
                    <td>@cnt</td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("ChangeStatus", "Tickets", new { id = ticket.Id })">
                                <img src="../../icons/@checkBoxIcon" alt="..." width="16" height="16" />
                            </a>
                        }
                    </td>
                    <td>@ticket.Title</td>
                    <td>@ticket.CreateDate</td>
                    <td>@ticket.EndDate</td>
                    <td>@ticket.StatusName()</td>
                    <td>@ticket.PriorityName()</td>
                    <td>
                        <a href="@Url.Action("Show", "Tickets", new { id = ticket.Id })">
                            <img src="../../icons/show.png" alt="..." width="16" height="16" />
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Edit", "Tickets", new { id = ticket.Id })">
                                <img src="../../icons/edit.png" alt="..." width="16" height="16" />
                            </a>
                            <a href="@Url.Action("Delete", "Tickets", new { id = ticket.Id })">
                                <img src="../../icons/delete.png" alt="..." width="16" height="16" />
                            </a>
                        }
                    </td>
                </tr>
                cnt++;
            }
        }
    </table>
}
else { <h3>Запрос не дал результата.</h3> }