<div class="center_title_bar">Latest Products</div>

{{#each products}}
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/{{this.id}}">{{this.brand}} {{this.model}}</a></div>
        <div class="product_img"><a href="/details/{{this.id}}"><img src="{{this.urlImage}}" alt="" border="0" /></a>
        </div>
        <div class="prod_price"><span class="reduce">{{this.price}}</span>></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img
                src="/images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img
                src="/images/favorites.gif" alt="" border="0" class="left_bt" /></a> <a href="/details/{{this.id}}"
            class="prod_details">details</a> </div>
</div>
{{/each}}

{{!-- <div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Motorola 156 MX-VL</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/laptop.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/"
            title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="/images/cart.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/images/favorites.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/details/0" class="prod_details">details</a> </div>
</div>
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Iphone Apple</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/p4.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/"
            title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="/images/cart.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/images/favorites.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/details/0" class="prod_details">details</a> </div>
</div>
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Samsung Webcam</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/p5.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/"
            title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="/images/cart.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/images/favorites.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/details/0" class="prod_details">details</a> </div>
</div>
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Motorola 156 MX-VL</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/laptop.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/"
            title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="/images/cart.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/images/favorites.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/details/0" class="prod_details">details</a> </div>
</div>
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Iphone Apple</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/p4.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/"
            title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="/images/cart.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/images/favorites.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/details/0" class="prod_details">details</a> </div>
</div>
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Samsung Webcam</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/p5.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/"
            title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="/images/cart.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/"
            title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/images/favorites.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/details/0" class="prod_details">details</a> </div>
</div> --}}
<div class="center_title_bar">Recommended Products</div>
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Motorola 156 MX-VL</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/laptop.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img
                src="/images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img
                src="/images/favorites.gif" alt="" border="0" class="left_bt" /></a> <a href="/details/0"
            class="prod_details">details</a> </div>
</div>
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Iphone Apple</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/p4.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img
                src="/images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img
                src="/images/favorites.gif" alt="" border="0" class="left_bt" /></a> <a href="/details/0"
            class="prod_details">details</a> </div>
</div>
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title"><a href="/details/0">Samsung Webcam</a></div>
        <div class="product_img"><a href="/details/0"><img src="/images/p5.gif" alt="" border="0" /></a></div>
        <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab"> <a href="/" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img
                src="/images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="/"
            title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/images/favs.gif" alt="" border="0"
                class="left_bt" /></a> <a href="/" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img
                src="/images/favorites.gif" alt="" border="0" class="left_bt" /></a> <a href="/details/0"
            class="prod_details">details</a> </div>
</div>