<table class="table user-list">
    <tbody>
        <tr>
            <td>Image</td>
            <td>
                <img src="{{item.urlImage}}" alt="">
            </td>
        </tr>
        <tr>
            <td>Id</td>
            <td>
                <span class="user-subhead">{{item.id}}</span>
            </td>
        </tr>
        <tr>
            <td>Firstname</td>
            <td>
                <span class="user-subhead">{{item.fname}}</span>
            </td>
        </tr>
        <tr>
            <td>Surename</td>
            <td>
                <span class="user-subhead">{{item.sname}}</span>
            </td>
        </tr>
        <tr>
            <td>Patronical Name</td>
            <td>
                <span class="user-subhead">{{item.pname}}</span>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <span class="user-subhead">{{item.email}}</span>
            </td>
        </tr>
        <tr>
            <td>Age</td>
            <td>
                <span class="user-subhead">{{item.age}}</span>
            </td>
        </tr>

        <tr>
            <td>Create Date</td>
            <td>
                <span class="user-subhead">{{item.createDate}}</span>
            </td>
        </tr>
    </tbody>
</table>